In [61]:
import MA
import pandas as pd
from sklearn.metrics import mean_absolute_error, mean_squared_error

###################### CONFIG ####################
st_date = "2015-01-01"
en_date = "2016-12-01"

###################### CODE #####################
## Get Data
data = pd.read_csv(".\data\monthly_train.csv")
data["Date"] = pd.to_datetime(data.Date).apply(lambda x: x.date())
data = data[(data.Date >= pd.to_datetime(st_date).date()) & (data.Date <= pd.to_datetime(en_date).date())].reset_index(
    drop=True
)
data = data.set_index("Date")

## Movign Average
df = MA.moving_average(data.Demand, extra_periods=6, n=3)

In [62]:
df.head()

              Demand  Forecast    Error
2015-01-01  120.2696       NaN      NaN
2015-02-01  116.3788       NaN      NaN
2015-03-01  104.4706       NaN      NaN
2015-04-01   89.7461    113.71 -23.9639
2015-05-01   91.0930    103.53 -12.4370

In [63]:
## Exponential Smoothing


#### OOT Period
### OOT PERIOD
pred_data = df[df.index > pd.to_datetime(en_date).date()]
oot_data = pd.read_csv(".\data\monthly_test.csv")
oot_data.Date = pd.to_datetime(oot_data["Date"]).apply(lambda x: x.date())

pred_data.index.name = "Date"
pred_data = pred_data.reset_index()[["Date", "Forecast"]].merge(oot_data, on="Date", how="left")
pred_data["Error"] = round((pred_data["Forecast"] - pred_data["Demand"]) / pred_data["Demand"] * 100, 2)

In [64]:
pred_data

         Date  Forecast    Demand  Error
0  2017-01-01     99.05  114.8505 -13.76
1  2017-02-01    101.57   99.4901   2.09
2  2017-03-01    104.46  101.0396   3.39
3  2017-04-01    101.69   88.3530  15.10
4  2017-05-01    102.57   92.0805  11.39
5  2017-06-01    102.91  102.1532   0.74